<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/home.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <script src="/static/js/home.js"></script>

  <title>Count_Calorie</title>
  <style>
    .edit {
      display: flex;
      margin: 1% -15% 8% 18%;
      width: 82%;
    }

    .edit a {
      flex-basis: 33.3%;
    }

    .head-4 {
      margin: 1% 0 2% 2%;
    }

    #edit1 {
      font-weight: bold;
    }

    #edit2 {
      font-weight: bold;
    }

    #edit3 {
      font-weight: bold;
    }

    #sidecal {
      font-weight: bold;
      padding: 15% 0% 0% 4%;
    }

    .carousel-indicators {
      bottom: 45%;
    }

    .footer {
      width: 100%;
      height: 100px;
      background-color: black;
      display: flex;
      justify-content: space-between;
    }

    .footer1 {
      width: 25%;
    }

    .footer1 h5 {
      font-size: 53%;
      color: white;
    }

    .footer1 p {
      color: white;
      font-size: 46%;
      margin-bottom: 2%;
    }

    #store {
      height: 58px;
    }

    #store img {
      width: 60%;
    }

    .footer2 p {
      font-size: 45%;
      color: white;
    }

    .footer2 img {
      margin: 11% 0% 3% 17%;
    }

    .footer3 h5 {
      font-size: 56%;
      color: white;
      margin-bottom: 6%;
      margin-top: 7%;
    }

    .footer3 ul {
      color: white;
      font-size: 53%;
      list-style: none;
      padding-left: 9%;
    }

    .click h3 {
      font-size: 85%;
      font-weight: bold;
    }
    .click{
      top: 96%;
    }
    .header{
      width: 100%;
      height: 100%;
      background-color:#f7faa9e6;
      z-index: 0;
  }
  </style>
</head>

<body>
  <div class="header">
    <div class="head-1">
      <div class="container">
        <div class="navbar">
          <div class="logo">
            <h1>Calorie Counter</h1>
          </div>
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about/">About</a></li>
              <li><a href="/contact/">Contact Us</a></li>
              <li><a href="/signuphandle/">SignUp</a></li>

              <li><a href="/loginhandle/">LogIn</a></li>
            </ul>
          </nav>
          <span class="span" style="cursor:pointer" onclick="openNav()">&#9776;</span>
        </div>
      </div>
    </div>
    <div class="head-2">
      <div class="col-1">
        <h1>Choose The Best <br>Food Always</h1>
        <p>Good nutrition creats health in all areas of our<br> existance.All parts are interconnected.Laugh a <br>lot
          it burns a lot of calories...</p>
        <div class="button">
          <a href="cut/search_list/"><button class="btn" id="btn">Explore Now</button></a>
        </div>
      </div>
      <div class="col-2">

        <div class="quote">
          <i class="fa fa-quote-left"></i>
          <p>When our souls are happy,they always talk about food....</p>
        </div>
        <div class="charles">
          <p>-Charles Simic</p>
        </div>

        <div class="quote_img">
          <img src="/static/images/food.png" alt="" width="65%">
        </div>
      </div>
    </div>
    <div id="myNav" class="overlay" >
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="overlay-content">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/contact/">Contact Us</a>
        <a href="/signuphandle/">Sign Up</a>
        <a href="/loginhandle/">Log In</a>
      </div>
    </div>

    <div class="head-3">
      <div class="head-3_col1">
        <img src="/static/images/col1.png" alt="" width="70%">
      </div>
      <div class="head-3_col1">
        <img src="/static/images/col2.png" alt="" width="67%">
      </div>
      <div class="head-3_col1">
        <img src="/static/images/col3.png" alt="" width="72%">
      </div>
    </div>

    <div class="count">
      <h1>Count Your calories Here :</h1>
    </div>
    <div class="count-heading">
      <div class="count-heading1">Total Calories</div>
      <div class="count-heading1"> Consumed</div>
      <div class="count-heading1">Calorie Left</div>
    </div>
    <div class="head-4">
      <div class="three-dimensions-card">
        <span id="edit1"></span>
      </div>
      <div class="three-dimensions-card">
        <span id="edit2"></span>
        <p id="sidecal">cal</p>
      </div>
      <div class="three-dimensions-card">
        <Span id="edit3"></Span>
      </div>
    </div>
    <div class="edit">
      <a href="" onclick="edit1()">Edit</a>
      <a href="/cut/consumed/" onclick="edit2()">Edit</a>
      
    </div>
    <div class="social-link">
      <div class="social"><a href=""><img src="/static/images/gmail.png" alt="" width="49px"></a></div>
      <div class="social"><a href="http://instagram.com/nandan_bilagi"><img src="/static/images/insta.png" alt=""
            width="40px"></a></div>
      <div class="social"><a href=""><img src="/static/images/twitter.png" alt="" width="40px"></a></div>
    </div>
    <div class="head-5">
      <div class="black_list">
        <ul>
          <li><a href="">BREAKFAST</a></li>
          <li><a href="">LAUNCH</a></li>
          <li><a href="">DINNER</a></li>
        </ul>
      </div>
      <div class="white_list">
        <div class="white-1"><img src="/static/images/goodfood.jpg" alt="" width='86%' height='95px'></div>
        <div class="white-1">
          <h2>Why Good Food?</h2>
          <p> All the nutrients derived from healthy food trigger body cells to actively run and perform their task.</p>
        </div>
      </div>
    </div>
    <div class="head-6_main">
      <div class="head-6">
        <div class="head-6_col1">
          <div class="head-6_row1">
            <p>Why This Website is<br> Best For You...</p>
          </div>
          <div class="head-6_row2">
            <p>Because,It provides you to calorie content of every meal.And also provide the carbohydrate,protein,fibre
              content in the food...</p>
          </div>
        </div>
        <div class="head-6_col2">
          <div class="head-6_img1">
            <img src="/static/images/food.png" alt="" width="30px">
          </div>
          <div class="head-6_img2">
            <img src="/static/images/black salad.png" alt="" width="30px">
          </div>
        </div>
      </div>

    </div>
    <div class="a">
      <div class="b">
      </div>
      <div class="c">
        <p>Good food is healthy food. Food is supposed to sustain you so you can live better, not so you can eat more.
          Some people eat to live, and some people live to eat.</p>
      </div>
    </div>
    <div class="user" style="position: relative;">
      <div class="userbox1">
        <img src="/static/images/user-icon.jpg" alt="">
      </div>
      <div id="userbox2" class="userbox2">
        <h2 style="font-weight: bold; ">Web-Developer</h2>
        <p>Nandan Bilagi</p>
      </div>

      <div id="grid" class="grid">
        <h1 style="font-weight: normal;">Skills:</h1>
        <div class="grid_item">
          Html
        </div>
        <div class="grid_item">
          css
        </div>
        <div class="grid_item">
          Javascript
        </div>
        <div class="grid_item">
          Python
        </div>
        <div class="grid_item">
          Django
        </div>
        <div class="grid_item">
          jQuery
        </div>
        <div class="grid_item">
          <a href=""><i class="fa fa-github" style="font-size: 148%;" aria-hidden="true"></i></a>
        </div>
        <div class="grid_item">
          <a href=""><i class="fa fa-twitter" style="font-size: 148%;" aria-hidden="true"></i></a>
        </div>
        <div class="grid_item">
          <a href=""><i class="fa fa-instagram" style="font-size: 148%;" aria-hidden="true"></i></a>
        </div>
        <div class="grid_item">
          <a href=""><i class="fa fa-facebook" style="font-size: 148%;" aria-hidden="true"></i></a>
        </div>

      </div>
      <div class="arrow" id="arrow">
        <img src="/static/images/arrow.png" onclick="arrow()" alt="">
      </div>
      <div id="wrong" class="wrong">
        <img src="/static/images/wrong.png" onclick="wrong()" alt="">
      </div>
      <div class="click" style="position: absolute;">
        <h3>Click</h3>
      </div>
    </div>
    <div class="catagories">
      <h2>Catagories</h2>
    </div>

    <div class="container" style="margin-bottom: 7%;">
      {% for product, range, nSlides in allProds %}
      <div id="carouselExampleFade" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="active" style="display: flex;">
              {% for i in product%}
              <div class="flex">
                <div class="carousel_box">
                  <a href="" name="{{i.id}}"><img src="/media/{{i.image}}" alt=""> </a>
                </div>
                <div class="active_name">
                  {{i.desc}}
                </div>
              </div>

              {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
            </div>
            {% if forloop.counter|divisibleby:1 and forloop.counter > 0 and not forloop.last %}
          </div>

          <div class="carousel-item ">
            <div class="active" style="display: flex;">
              {% endif %}
              {% endif %}
              {% endfor %}
            </div>

          </div>

        </div>
        {% endfor %}
        <div id="carouselExampleFade" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="prev-next">
            <span data-bs-target="#carouselExampleFade" style="margin: 4%;" data-bs-slide="prev">
              <img src="/static/images/prev.png" width=30px height="30px" alt="">
            </span>
            <span data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <img src="/static/images/next.png" width=30px height="30px" alt="">
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer1">
        <h5>Download Get App</h5>
        <p>You may also get app from these stores..</p>
        <div id="store">
          <img src="/static/images/app-store.png" alt="">
          <img src="/static/images/play-store.png" alt="">
        </div>
      </div>
      <div class="footer2" style="width: 40%;">
        <img src="/static/images/logo-white.png" alt="" width="50%">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat est ad nostrum vero iure totam sed</p>
      </div>
      <div class="footer3" style="width: 18%;">
        <h5>Social Links</h5>
        <ul>
          <li>Instagram</li>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Whatsapp</li>
        </ul>
      </div>
      <div class="footer4"></div>
    </div>
  </div>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>
<script>
  if (localStorage.getItem('user') == null) {
    var person = prompt("Please enter your daily need calorie to track..", "2000");
    localStorage.setItem('user', person)
  }
  document.getElementById('edit1').innerHTML = localStorage.getItem('user')
  function edit1() {
    localStorage.removeItem('user')
  }

  if (localStorage.getItem('cart') == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem('cart'));
  }

  var totalcal = 0
  if ($.isEmptyObject(cart)) {
    //if object is empty
    mystr = `0`
    $('#edit2').append(mystr);
  } else {
    for (item in cart) {
      let name = cart[item][1];
      let qty = cart[item][0];
      let itemcal = cart[item][2];
      totalcal = totalcal + itemcal * qty
    }
    mystr = `${totalcal}`
    $('#edit2').append(mystr);
  }
  document.getElementById('edit3').innerHTML = document.getElementById('edit1').innerHTML - document.getElementById('edit2').innerHTML

  function openNav() {
    document.getElementById("myNav").style.width = "88%";
  }

</script>

</html>